[Unit]
Description=RAM monitor

[Service]
ExecStart=/usr/bin/rammon/overheat.sh -l /var/log/rammon/overheat.log

[Install]
WantedBy=multi-user.target

